section(class="card" id="card")
    h3(id="title") #{categories.title}
    img(id="poster" src=categories.poster)
    each val, key in categories
        if !excludes.includes(key) && val != 'N/A'
            if key == 'year' && val < 99
                p(id=key)= 'Total Seasons: ' + val
            else
                p(id=key)= key.split('').map((e,i)=> i==0 ? e.toUpperCase(): e).join('') + ': ' + val
    if categories.critics != undefined
        each item , i in categories.critics
            p(id="review") Filmaffinity Review: #{categories.critics[i].Critics}
            p(id="punctuation") Review Punctuation: #{categories.critics[i].Punctuation}
    if !admin
        if !isFav
            button(id='fav' type="button" class ="css-button-arrow--red") Add to Favorites
        else
            button(class ="css-button-arrow--red") This title is already among your favorites!